<settings>

    <setting propertyKey="@Properties.AppVersion" title="@Strings.AppVersionTitle">
        <settingConfig type="alphaNumeric" readonly="true" />
    </setting>

    <setting propertyKey="@Properties.DarkMode" title="@Strings.DarkModeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Auto</listEntry>
            <listEntry value="1">@Strings.On</listEntry>
            <listEntry value="2">@Strings.Off</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.FloorsSegment" title="@Strings.FloorsSegmentTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ActiveMinutesSegment" title="@Strings.ActiveMinutesSegmentTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.CaloriesSegment" title="@Strings.CaloriesSegmentTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.DateFormat" title="@Strings.DateFormatTitle">
        <settingConfig type="alphaNumeric" required="true" />
    </setting>

    <setting propertyKey="@Properties.NotificationsBadge" title="@Strings.NotificationsBadgeTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.BatteryIndicator" title="@Strings.BatteryIndicatorTitle">
        <settingConfig type="boolean" />
    </setting>

</settings>
